@charset "UTF-8";
/*------------------------------------------------------------ MODULOS ------------------------------------------------------------*/
/*------------------------------------------------------------ TEXT HOME ------------------------------------------------------------*/
#container-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container-index .container-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 12rem  0;
  text-transform: uppercase;
  color: #d4d9d9;
  font-weight: 600;
  font-size: 3rem;
}

@media (max-width: 700px) {
  #container-index .container-slogan {
    font-size: 1.8rem;
    line-height: 3rem;
    margin: 4rem 2rem;
  }
}

#container-index .card-block-forward {
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0rem 10rem;
  word-spacing: .30em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -5px 15px 14px 0px #171010;
          box-shadow: -5px 15px 14px 0px #171010;
}

@media (max-width: 700px) {
  #container-index .card-block-forward {
    margin: 0rem;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1rem;
    border-radius: 1.5rem;
    -webkit-box-shadow: -11px 14px 11px 0px #171010;
            box-shadow: -11px 14px 11px 0px #171010;
  }
}

#container-index .card-block-forward .card-content-forward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 700px) {
  #container-index .card-block-forward .card-content-forward {
    margin: 0rem;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#container-index .card-block-forward .card-content-forward .card-titulo-forward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 0rem 4rem;
  color: #fff;
  font-weight: 600;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-style: italic;
  font-size: 1.8rem;
}

@media (max-width: 700px) {
  #container-index .card-block-forward .card-content-forward .card-titulo-forward {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 2rem 0;
    font-size: 1.2rem;
  }
}

#container-index .card-block-forward .card-content-forward .card-parrafos-forward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7f9244;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.8rem;
  padding: 3rem 6rem 0rem 4rem;
}

@media (max-width: 700px) {
  #container-index .card-block-forward .card-content-forward .card-parrafos-forward {
    font-size: .85rem;
    padding: 2rem 2rem .5rem;
  }
}

#container-index .card-block-forward .card-img-forward {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 700px) {
  #container-index .card-block-forward .card-img-forward {
    width: 80%;
    border-radius: 1rem;
    margin: 2rem;
  }
}

#container-index .card-block-reverse {
  background-color: #CFCFCF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 8rem 10rem;
  word-spacing: .30em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-spacing: 0.25rem;
  -webkit-box-shadow: -5px 15px 14px 0px #171010;
          box-shadow: -5px 15px 14px 0px #171010;
}

@media (max-width: 700px) {
  #container-index .card-block-reverse {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 4rem 1rem;
    border-radius: 1.5rem;
    -webkit-box-shadow: -11px 14px 11px 0px #171010;
            box-shadow: -11px 14px 11px 0px #171010;
  }
}

#container-index .card-block-reverse .card-content-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 700px) {
  #container-index .card-block-reverse .card-content-reverse {
    margin: 0rem;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#container-index .card-block-reverse .card-content-reverse .card-titulo-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
  color: #2d2d2d;
  font-weight: 600;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.8rem;
  font-style: italic;
}

@media (max-width: 700px) {
  #container-index .card-block-reverse .card-content-reverse .card-titulo-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 2rem 0;
  }
}

#container-index .card-block-reverse .card-content-reverse .card-parrafos-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7f9244;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.8rem;
  padding: 3rem 6rem 0rem 2rem;
}

@media (max-width: 700px) {
  #container-index .card-block-reverse .card-content-reverse .card-parrafos-reverse {
    font-size: .8rem;
    font-size: .85rem;
    padding: 2rem 2rem .5rem;
  }
}

#container-index .card-block-reverse .card-img-reverse {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 700px) {
  #container-index .card-block-reverse .card-img-reverse {
    width: 80%;
    border-radius: 1rem;
    margin: 2rem;
  }
}

#container-index .line-index {
  background-color: #CFCFCF;
  margin: auto;
  padding: .05rem;
}

/*---------------------------------------------------------- VARIABLES ------------------------------------------------------------*/
/* body */
body {
  background-color: #262621;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: White;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 700px) {
  body {
    font-size: .8rem;
  }
}

/* navbar */
/* footer */
.footer-style {
  margin: 15rem 0 6rem 0;
  padding-top: 6rem;
  background-color: #262621;
  border-top: 1.5px solid #CFCFCF;
}

@media (max-width: 700px) {
  .footer-style {
    margin-top: 8rem;
  }
}

footer {
  color: white;
}

footer h3 {
  margin-bottom: 20px;
  font-weight: 600;
  padding: 0 0 0 .5rem;
}

footer .footer-above {
  padding-top: 20px;
}

footer .footer-col {
  margin-bottom: 20px;
}

footer .footer-col a {
  display: block;
  color: white;
  cursor: pointer;
}

footer .footer-below {
  padding: 50px 0;
  background-color: #233140;
}

footer .list-inline {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer img {
  width: 30px;
  display: inline;
  margin: 1rem .8rem;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

footer img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: .5s;
  transition: .5s;
}

/* button */
.go-top-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background-color: whitesmoke;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i {
  position: absolute;
  font-size: 1.2rem;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  -webkit-animation: popup .3s ease-in-out;
          animation: popup .3s ease-in-out;
  width: 4rem;
  height: 4rem;
  z-index: 11;
}

.show i {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@-webkit-keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 7.5rem;
    height: 7.5rem;
  }
  100% {
    width: 5rem;
    height: 5rem;
  }
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 7.5rem;
    height: 7.5rem;
  }
  100% {
    width: 5rem;
    height: 5rem;
  }
}

/*------------------------------------------------------------ PESTAÑA NOSOTROS ------------------------------------------------------------*/
.banner-nosotros {
  width: 100%;
  height: 100%;
  -webkit-animation: banner 10s infinite linear alternate;
          animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30rem;
  margin-bottom: 10rem;
  background-image: url("../galeria/img-nosotros.jpg");
}

@media (max-width: 700px) {
  .banner-nosotros {
    background-image: url("../galeria/img-nosotros-mobile.jpg");
    padding: 0;
    margin-bottom: 2rem;
  }
}

.capa-nosotros {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
}

.boxNosotros__ .section-nosotros-foward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 700px) {
  .boxNosotros__ .section-nosotros-foward {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
}

.boxNosotros__ .section-nosotros-foward .content-nosotros-section {
  padding: 0 0 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 700px) {
  .boxNosotros__ .section-nosotros-foward .content-nosotros-section {
    padding: 0;
  }
}

.boxNosotros__ .section-nosotros-foward .content-nosotros-section .boxNosotros__titulos-foward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  color: #34e89e;
  font-size: 30px;
  word-spacing: .25em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .boxNosotros__ .section-nosotros-foward .content-nosotros-section .boxNosotros__titulos-foward {
    font-size: 1.2rem;
    padding: 4rem 2rem 0;
  }
}

.boxNosotros__ .section-nosotros-foward .content-nosotros-section .boxNosotros__info-foward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #CFCFCF;
  text-align: flex-start;
  padding: 5rem 10rem 0 10rem;
  line-height: 3.5em;
  word-spacing: .25em;
  font-weight: 500;
  padding: 5rem 12rem 0rem 0rem;
}

@media (max-width: 700px) {
  .boxNosotros__ .section-nosotros-foward .content-nosotros-section .boxNosotros__info-foward {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 2rem;
    font-size: 0.8rem;
  }
}

.boxNosotros__ .section-nosotros-foward img {
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 0 0 12rem;
}

@media (max-width: 700px) {
  .boxNosotros__ .section-nosotros-foward img {
    padding: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.boxNosotros__ .section-nosotros-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 700px) {
  .boxNosotros__ .section-nosotros-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
}

.boxNosotros__ .section-nosotros-reverse .content-nosotros-section {
  padding: 0 0 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 700px) {
  .boxNosotros__ .section-nosotros-reverse .content-nosotros-section {
    padding: 0;
  }
}

.boxNosotros__ .section-nosotros-reverse .content-nosotros-section .boxNosotros__titulos-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  color: #34e89e;
  font-size: 2rem;
  word-spacing: .25em;
  font-weight: 600;
}

@media (max-width: 700px) {
  .boxNosotros__ .section-nosotros-reverse .content-nosotros-section .boxNosotros__titulos-reverse {
    font-size: 1.2rem;
    padding: 4rem 2rem 0;
  }
}

.boxNosotros__ .section-nosotros-reverse .content-nosotros-section .boxNosotros__info-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #CFCFCF;
  text-align: flex-start;
  padding: 5rem 10rem 0 0rem;
  line-height: 3.5em;
  word-spacing: .25em;
  font-weight: 500;
}

@media (max-width: 700px) {
  .boxNosotros__ .section-nosotros-reverse .content-nosotros-section .boxNosotros__info-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 2rem;
    font-size: 0.8rem;
  }
}

.boxNosotros__ .section-nosotros-reverse img {
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 12rem 0 0;
}

@media (max-width: 700px) {
  .boxNosotros__ .section-nosotros-reverse img {
    padding: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.boxNosotros__ .line-nosotros {
  border: 1px solid #34e89e;
  margin: 3rem 10rem 12rem 10rem;
}

@media (max-width: 700px) {
  .boxNosotros__ .line-nosotros {
    margin: 0 2rem;
  }
}

/*------------------------------------------------------------ PESTAÑA INFORMACION ------------------------------------------------------------*/
.banner-info {
  width: 100%;
  height: 100%;
  -webkit-animation: banner 10s infinite linear alternate;
          animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30rem;
  margin-bottom: 10rem;
  background-image: url("../galeria/img-informacion.jpg");
}

@media (max-width: 700px) {
  .banner-info {
    background-image: url("../galeria/img-informacion-mobile.jpg");
    padding: 0;
    margin-bottom: 2rem;
  }
}

.capa-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
}

#container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10rem 0;
}

@media (max-width: 700px) {
  #container-info {
    margin: 6rem 0;
  }
}

#container-info .card-block-forward {
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 8rem 10rem;
  word-spacing: .30em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -11px 14px 11px 0px #171010;
          box-shadow: -11px 14px 11px 0px #171010;
}

@media (max-width: 700px) {
  #container-info .card-block-forward {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 1.5rem;
    margin: 4rem 1rem;
    -webkit-box-shadow: -5px 15px 7px 0px #171010;
            box-shadow: -5px 15px 7px 0px #171010;
  }
}

#container-info .card-block-forward .card-content-forward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 700px) {
  #container-info .card-block-forward .card-content-forward {
    padding: 0;
  }
}

#container-info .card-block-forward .card-content-forward .card-titulo-forward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 0rem 4rem;
  color: #fff;
  font-weight: 600;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-style: italic;
}

@media (max-width: 700px) {
  #container-info .card-block-forward .card-content-forward .card-titulo-forward {
    font-size: 1.2rem;
    padding: 3rem 4rem 0;
  }
}

#container-info .card-block-forward .card-content-forward .card-parrafos-forward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7f9244;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.8rem;
  padding: 2rem 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 700px) {
  #container-info .card-block-forward .card-content-forward .card-parrafos-forward {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#container-info .card-block-forward .card-content-forward .card-parrafos-forward a {
  margin: 2rem 0 0 0;
  padding: .5rem;
  border-radius: .4rem;
  background-color: #CFCFCF;
  color: #262621;
  -webkit-box-shadow: 0px 1px 7px 0px #171010;
          box-shadow: 0px 1px 7px 0px #171010;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 700px) {
  #container-info .card-block-forward .card-content-forward .card-parrafos-forward a {
    margin: 2rem 0 0 0;
    padding: .5rem;
    font-size: .8rem;
  }
}

#container-info .card-block-forward .card-img-forward_info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 700px) {
  #container-info .card-block-forward .card-img-forward_info {
    width: 80%;
    border-radius: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem;
  }
}

#container-info .card-block-reverse {
  background-color: #CFCFCF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0 10rem;
  word-spacing: .30em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-spacing: 0.25rem;
  -webkit-box-shadow: -11px 14px 11px 0px #171010;
          box-shadow: -11px 14px 11px 0px #171010;
}

@media (max-width: 700px) {
  #container-info .card-block-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1rem;
    border-radius: 1.5rem;
    -webkit-box-shadow: -5px 15px 7px 0px #171010;
            box-shadow: -5px 15px 7px 0px #171010;
  }
}

#container-info .card-block-reverse .card-content-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 700px) {
  #container-info .card-block-reverse .card-content-reverse {
    padding: 0;
  }
}

#container-info .card-block-reverse .card-content-reverse .card-titulo-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 0rem 4rem;
  color: #2d2d2d;
  font-weight: 600;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-style: italic;
}

@media (max-width: 700px) {
  #container-info .card-block-reverse .card-content-reverse .card-titulo-reverse {
    font-size: 1.2rem;
    padding: 3rem 4rem 0;
  }
}

#container-info .card-block-reverse .card-content-reverse .card-parrafos-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7f9244;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.8rem;
  padding: 2rem 4rem;
}

#container-info .card-block-reverse .card-img-reverse_info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 700px) {
  #container-info .card-block-reverse .card-img-reverse_info {
    width: 80%;
    border-radius: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem;
  }
}

#container-info .line-index {
  background-color: #CFCFCF;
  margin: auto;
  padding: .05rem;
}

/*------------------------------------------------------------ PESTAÑA CONTACTO ------------------------------------------------------------*/
.banner-contacto {
  width: 100%;
  height: 100%;
  -webkit-animation: banner 10s infinite linear alternate;
          animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30rem;
  background-image: url("../galeria/img-contacto.jpg");
}

@media (max-width: 700px) {
  .banner-contacto {
    background-image: url("../galeria/img-contacto-mobile.jpg");
    padding: 0;
  }
}

.capa-contacto {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
}

.contentContact__ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10rem;
}

@media (max-width: 700px) {
  .contentContact__ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contentContact__ img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 700px) {
  .contentContact__ img {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contentContact__ form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8rem;
  border-radius: .5rem;
  color: #CFCFCF;
  line-height: 3em;
  z-index: 200;
  margin-top: 5rem;
}

@media (max-width: 700px) {
  .contentContact__ form {
    margin: 4rem 0;
    padding: 0;
  }
}

.contentContact__ textarea {
  background-color: #CFCFCF;
  color: #7f9244;
  min-width: 30rem;
  min-height: 10rem;
  padding: .5rem 1rem;
  line-height: 3em;
  font-size: 13px;
  font-weight: 600;
}

@media (max-width: 700px) {
  .contentContact__ textarea {
    min-width: 22.5rem;
  }
}

.contentContact__ input[type="text" i] {
  background-color: #CFCFCF;
  color: #7f9244;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 1px 0;
}

.contentContact__ input[type="number" i] {
  padding: 1px 2px;
  background-color: #CFCFCF;
  color: #7f9244;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.contentContact__ input[type="checkbox" i] {
  padding: 1px 2px;
  margin: 1rem;
  display: inline;
  border-radius: 8rem;
  cursor: pointer;
}

.contentContact__ .modal-content {
  background-color: #262621;
}

.contentContact__ .modal-header {
  background-color: #262621;
  color: #34e89e;
  border: 0;
  margin: 0;
}

.contentContact__ .btn-primary {
  background-color: black;
  color: #CFCFCF;
  font-weight: 600;
  border: 0;
  -webkit-box-shadow: 1px 13px 10px 0.5px #171010;
          box-shadow: 1px 13px 10px 0.5px #171010;
}

.maps-contacto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8rem;
}

@media (max-width: 700px) {
  .maps-contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.maps-contacto .block-maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

@media (max-width: 700px) {
  .maps-contacto .block-maps {
    padding: 0;
    margin: 2rem 1rem;
  }
}

.maps-contacto .block-maps p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  color: #7f9244;
  margin: 2rem 6rem;
}

@media (max-width: 700px) {
  .maps-contacto .block-maps p {
    padding: .5rem 1rem;
    margin: auto;
  }
}

.maps-contacto .block-maps iframe {
  border-radius: 1rem;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  width: 100%;
}

@media (max-width: 700px) {
  .maps-contacto .block-maps iframe {
    width: 100%;
  }
}

.maps-contacto .block-maps iframe:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: .5s;
  transition: .5s;
}

/*------------------------------------------------------------ PESTAÑA PRODUCTOS ------------------------------------------------------------*/
.banner-catalogo {
  width: 100%;
  height: 100%;
  -webkit-animation: banner 10s infinite linear alternate;
          animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30rem;
  background-image: url("../galeria/img-catalogo.jpg");
}

@media (max-width: 700px) {
  .banner-catalogo {
    background-image: url("../galeria/img-catalogo-mobile.jpg");
    padding: 0;
  }
}

.capa-catalogo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
}

#container-catalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10rem 0;
}

@media (max-width: 700px) {
  #container-catalogo {
    margin: 5rem 0;
  }
}

#container-catalogo .card-block-reverse__catalogo {
  background-color: #CFCFCF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0 10rem;
  word-spacing: .30em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-spacing: 0.25rem;
  -webkit-box-shadow: -11px 14px 11px 0px #171010;
          box-shadow: -11px 14px 11px 0px #171010;
}

@media (max-width: 700px) {
  #container-catalogo .card-block-reverse__catalogo {
    margin: 4rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 1.5rem;
    -webkit-box-shadow: -5px 15px 7px 0px #171010;
            box-shadow: -5px 15px 7px 0px #171010;
  }
}

#container-catalogo .card-block-reverse__catalogo .card-content-reverse__catalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  /* align-items: center; */
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 700px) {
  #container-catalogo .card-block-reverse__catalogo .card-content-reverse__catalogo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: rem;
  }
}

#container-catalogo .card-block-reverse__catalogo .card-titulo-reverse__catalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 2rem 4rem;
  color: #2d2d2d;
  font-weight: 600;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-style: italic;
}

@media (max-width: 700px) {
  #container-catalogo .card-block-reverse__catalogo .card-titulo-reverse__catalogo {
    padding: 2rem 0;
    margin: 0;
    font-size: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#container-catalogo .card-block-reverse__catalogo .card-parrafos-reverse__catalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7f9244;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.8rem;
  font-size: 1.1rem;
  padding: 2rem 4rem 4rem 4rem;
}

@media (max-width: 700px) {
  #container-catalogo .card-block-reverse__catalogo .card-parrafos-reverse__catalogo {
    padding: 0rem;
    font-size: .8rem;
  }
}

#container-catalogo .card-img-reverse__catalogo {
  width: 25%;
}

@media (max-width: 700px) {
  #container-catalogo .card-img-reverse__catalogo {
    width: 80%;
    border-radius: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -o-object-fit: none;
       object-fit: none;
    margin: 1rem;
  }
}

#container-catalogo .line-index {
  background-color: #CFCFCF;
  margin: auto;
  padding: .5rem;
}

.containerCatalogo__ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem;
  font-weight: 600;
  word-spacing: .5rem;
}

@media (max-width: 700px) {
  .containerCatalogo__ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.botonera {
  border: 1.5px solid #CFCFCF;
  padding: .3rem;
  margin: 1rem;
  border-radius: .52rem;
}

.botonera .btn {
  color: #CFCFCF;
  font-weight: 600;
}

.new-button {
  background-color: black;
  color: #34e89e;
  padding: 1rem;
  margin: 1rem 1rem;
  border-radius: 1rem;
  font-style: italic;
}

@media (max-width: 750px) {
  .new-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contentCards__ {
  max-width: 1500px;
  margin: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 700px) {
  .contentCards__ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.contentCards__ .card {
  margin: 120px 100px;
  background-color: #656868;
  -webkit-box-shadow: 2px 2px 10px .5px black;
          box-shadow: 2px 2px 10px .5px black;
}

@media (max-width: 700px) {
  .contentCards__ .card {
    margin: 4rem 0rem;
  }
}

.contentCards__ .card:hover {
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  -webkit-box-shadow: 20px 20px 15px 0px black;
          box-shadow: 20px 20px 15px 0px black;
}

.contentCards__ .card img {
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}

.contentCards__ .card img:hover {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

.contentCards__ .card .card-body {
  min-height: 1px;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contentCards__ .card .card-body .card-title {
  color: #262621;
  font-weight: 600;
}

.contentCards__ .card .card-body .btn-primary {
  background-color: #262621;
  color: #34e89e;
  font-weight: 600;
  display: block;
  border: none;
}

.banner-productos {
  width: 100%;
  height: 100%;
  -webkit-animation: banner 10s infinite linear alternate;
          animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30rem;
  background-image: url("../galeria/img-productos.jpg");
}

@media (max-width: 700px) {
  .banner-productos {
    background-image: url("../galeria/img-productos-mobile.jpg");
    padding: 0;
  }
}

.capa-productos {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
}

/*------------------------------ PESTAÑA REFERENCIAS ------------------------------*/
.banner-referencia {
  width: 100%;
  height: 100%;
  -webkit-animation: banner 10s infinite linear alternate;
          animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30rem;
  background-image: url("../galeria/img-referencias.jpg");
}

@media (max-width: 700px) {
  .banner-referencia {
    background-image: url("../galeria/img-referencias-mobile.jpg");
    padding: 0;
  }
}

.capa-referencia {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 100%);
}

.contentReferences__ .contentReferences__Opiniones {
  margin-top: 5rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #485a54;
}

.contentReferences__ .contentReferences__Referencias {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.5rem;
}

.contentReferences__videos--modifier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #656868;
  border-radius: 2rem;
  margin: 100px;
  padding: 50px;
}

@media (max-width: 700px) {
  .contentReferences__videos--modifier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5rem 0;
    width: 100%;
  }
  .contentReferences__videos--modifier iframe {
    border-radius: 1.5rem;
  }
}

@media (max-width: 700px) and (max-width: 700px) {
  .contentReferences__videos--modifier iframe {
    margin: 3rem 1rem;
  }
}

.info-general {
  z-index: 1;
  width: 100%;
  text-align: center;
  -o-object-fit: none;
     object-fit: none;
}

.info-general .title-general {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #CFCFCF;
  font-size: 4rem;
  letter-spacing: .35rem;
}

@media (max-width: 700px) {
  .info-general .title-general {
    font-size: 2rem;
    margin: 1rem;
  }
}

.info-general .title-general:before, .info-general .title-general:after {
  color: #34e89e;
  content: "";
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-general .title-general:before {
  border-bottom: 3px solid #34e89e;
  border-left: 3px solid #34e89e;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.info-general .title-general:after {
  border-top: 3px solid #34e89e;
  border-right: 3px solid #34e89e;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
}

.info-general .title-general:hover:after, .info-general .title-general:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.info-general .title-general:hover {
  color: #34e89e;
  -webkit-transition: .7s;
  transition: .7s;
}

.info-general p {
  color: #CFCFCF;
  line-height: 1.7rem;
  padding: 2rem 5rem;
}

@media (max-width: 700px) {
  .info-general p {
    font-size: .8rem;
  }
}

.contact__ {
  display: block;
}

@media (max-width: 750px) {
  .contact__ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
}

.contact__ .contact__Titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5rem;
  margin-bottom: 8rem;
  color: #262621;
  background: -webkit-gradient(linear, left top, right top, from(#0f3443), to(#34e89e));
  background: linear-gradient(to right, #0f3443, #34e89e);
}

@media (max-width: 700px) {
  .contact__ .contact__Titulo {
    padding: 2.5rem;
    margin: 0 0 5rem 0;
    line-height: 2rem;
  }
}

.contact__ .contact__Parrafos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #CFCFCF;
}

@media (max-width: 700px) {
  .contact__ .contact__Parrafos {
    padding: .5rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 2rem;
  }
}

.contact__ .contact__lineNosotrosContact {
  margin: 5rem 20rem;
  border: 1px solid #34e89e;
}

@media (max-width: 700px) {
  .contact__ .contact__lineNosotrosContact {
    margin: 0rem 2.5rem;
  }
}

.scroll-button {
  padding-top: 60px;
}

.scroll-button .scroll-button span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner-shop {
  color: white;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-shop img {
  width: 100%;
  -webkit-filter: brightness(0.35);
          filter: brightness(0.35);
  height: 100%;
  -webkit-box-shadow: 1px 6px 20px 1px grey;
          box-shadow: 1px 6px 20px 1px grey;
  position: fixed;
  overflow: hidden;
}

.banner-shop .titulo-shop {
  position: relative;
  font-size: 5rem;
  margin: 20rem;
}

.container-shop {
  padding: 5rem 20rem;
  position: relative;
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-shop .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  border: 2px solid white;
  padding: 0px 4px;
}

.container-shop h4 {
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.container-shop p {
  margin: 2rem 0;
}

.banner-preguntas {
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.banner-preguntas img {
  width: 100%;
  -webkit-filter: brightness(0.35);
          filter: brightness(0.35);
  height: 100%;
  -webkit-box-shadow: 1px 6px 20px 1px grey;
          box-shadow: 1px 6px 20px 1px grey;
  position: fixed;
  overflow: hidden;
}

.banner-preguntas .titulo-preguntas {
  position: relative;
  font-size: 5rem;
  margin: 20rem 40rem 15rem 40rem;
}

.container-preguntas {
  padding: 5rem 20rem;
  position: relative;
  margin-bottom: 10rem;
}

.container-preguntas .box-question {
  padding: .8rem 0;
}

.container-preguntas .box-question p {
  padding: .5rem 0rem;
}
/*# sourceMappingURL=estilos.css.map */