/*---------------------------------------------------------- VARIABLES ------------------------------------------------------------*/	

$colorWhite: #CFCFCF;

$colorGreenCake: #656868;

$colorDark: #262621;

$colorGreenFluor: #34e89e;

$colorGreenFirst: #7f9244;
/* body */

body{
	background-color: $colorDark;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: White;	
	box-sizing: border-box;
	@media (max-width: 700px){
		
		
	}
}


/* navbar */

/* footer */

.footer-style {
	margin: 20rem 0 6rem 0;
    padding-top: 6rem;
    background-color: #262621;
	border-top: 1.5px solid $colorWhite;

		@media(max-width:700px){
			margin-top: 8rem;
		}
}
	footer {
	color: white;
		
		h3 {
			margin-bottom: 20px;
			font-weight: 600;
			padding: 0 0 0 .5rem;
		}

	.footer-above {
	padding-top: 20px;
	}
	.footer-col {
	margin-bottom: 20px;
		
		a{
			display: block;
			color: white;
			cursor: pointer;
		}
	}

	.footer-below {
	padding: 50px 0;
	background-color: #233140;
	}
	.list-inline{
		margin-top: 10px;
		display: flex;
		justify-content: center;
	}
	img{
		width: 30px;
		display: inline;
		margin: 1rem .8rem;
		cursor: pointer;
		filter: grayscale(100%);
		&:hover{
			transform: scale(1.2);
			filter: grayscale(00%);	
			transition: .5s;
		}
	
	}
}


/* button */

.go-top-container{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 3rem;
	height: 3rem;
	z-index: -1;
}
.go-top-button{
	width: 0rem;
	height: 0rem;
	background-color: whitesmoke;
	border-radius: 50%;
	transition: .2s;
	cursor: pointer;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
		i{
			position: absolute;
			font-size: 1.2rem;
			top: 48%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
			color: #fff;
			transition: .2s;
		}
	}


.show{
	z-index: 10;
	.go-top-button{
		animation: popup .3s ease-in-out;
		width: 4rem;
		height: 4rem;
		z-index: 11;
	}
	i{
		transform: translate(-50%, -50%) scale(1);
	}
	
}

@keyframes popup{
	0%{
		width: 0rem;
		height: 0rem;
	}
	50%{
		width: 7.5rem;
		height: 7.5rem;
	}
	100%{
		width: 5rem;
		height: 5rem;
	}
}