/*------------------------------------------------------------ PESTAÑA CATALOGO ------------------------------------------------------------*/	

// BANNER>> HERO IMAGEN Y CAPA BACKGROUND (EL TEXTO ESTA EN _THEMES.SCSS) 
.banner-catalogo{
	width: 100%;
	height: auto;
	animation: banner 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20rem;
	background-image: url("../galeria/img-catalogo.jpg");

	@media (max-width: $tablet){
		background-image: url("../galeria/img-catalogo-mobile.jpg");
		padding: 0;
	}

	@media (min-width: $phone) and (max-width: $tablet){
		background-image: url("../galeria/img-catalogo.jpg");
		padding: 7rem;
	}

	@media (min-width: $tablet) and (max-width: $laptop-L){
		padding: 15rem;
	}
}

// CAPA SOBRE LA IMAGEN>>
.capa-catalogo{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.9) 100%);
}

// BLOQUE DE TARJETA CON TEXTO E IMAGEN 
#container-catalogo{
	display: flex;
	flex-direction: column;
	margin: 10rem 0;
	
	@media (max-width: $tablet){
		margin: 5rem 0;
	}

	// TARJETA CON TEXTO E IMAGEN 
	.card-block-reverse__catalogo{
		background-color: #CFCFCF;
		display: flex;
		flex-direction: row-reverse;
		margin: 0 10rem;
		word-spacing: .30em;	
		align-items: center;	
		word-spacing: 0.25rem;
		@include shadow-card(); 
		
		@media (max-width: $tablet){
			margin: 4rem 1rem;	
			display: flex;
			flex-direction: column;
			border-radius: 1.5rem;
			@include shadow-mob(); 
		}

		@media (min-width: $tablet) and (max-width: $laptop){
			display: flex;
			flex-direction: column;
		}

		// TEXTO DENTRO DE LA TARJETA
		.card-content-reverse__catalogo{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			padding: 3.5rem;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			align-content: space-around;
			justify-content: space-evenly;
			
			@media (max-width: $tablet){
				flex-direction: column;	
				padding: rem;	
			}	

			@media (min-width: $laptop) and (max-width: $laptop-L){
				padding: 2rem 2rem 0;
			}
		}

			// TITULO
			.card-titulo-reverse__catalogo{
				display: flex;
				padding:1rem 1rem 2rem 4rem;
				color: #2d2d2d;
				font-weight: 600;
				justify-content: flex-start;
				font-style: italic;
				
				@media (max-width: $tablet){
					padding: 2rem 0;
					margin: 0;
					font-size: 1.2rem;
					display: flex;
					flex-direction: column;
				}

				@media (min-width: $desktop){
					font-size: $desktop-title;
				}
			}

			// PARRAFOS
			.card-parrafos-reverse__catalogo{	
				display: flex;
				color: #7f9244;
				align-items: center;
				font-weight: 500;
				line-height: 1.8rem;
				font-size: 1.1rem;
				padding: 2rem 4rem 4rem 4rem;
				
				@media (max-width: $tablet){
					padding: 0rem;
					font-size: .8rem;
				}

				@media (min-width: $desktop){
					font-size: $desktop-parrafos;
				}
			}
		}

		// IMAGEN	
		.card-img-reverse__catalogo{
			width: 25%;
			
			@media (max-width: $tablet){
				width: 80%;
				border-radius: 2rem;
				display: flex;
				-ms-flex-direction: row;
				flex-direction: row;
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				justify-content: end;
				object-fit: none;
				margin: 1rem;
			}	
			@media (min-width: $phone) and (max-width: $laptop){
				width: 40%;
				border-radius: 1.5rem;
				margin: 0 0 3rem;
				}

			@media 	(min-width: $laptop) and (max-width: $laptop-L){
				width: 30%;
			}
		}		
}

//  SECCION PRINCIPAL CON PRODUCTOS 
.contentCards__{
	max-width: 1500px;
	margin: auto;
	margin-top: 50px;
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: row;

	@media (max-width: $phone){
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	@media (min-width: $phone) and (max-width: $tablet){
		display: flex;
		flex-direction: row;
		align-content: center;
		} 

		//  TARJETA CON PRODUCTOS 
		.card{	
			margin: 120px 100px;
			background-color: $colorGreenCake;		
			box-shadow: 2px 2px 10px .5px black;
			
			@media (max-width: $tablet){
			margin: 4rem 0rem;
			}

			@media (min-width: $desktop){
				transform: scale(1.3);
				
			}

			&:hover{
				backdrop-filter: blur(7px);
				transform: scale(1.06);
				transition: .5s;
				cursor: pointer;
				box-shadow: 20px 20px 15px 0px black;
			}

			img{
				filter: opacity(70%);

			&:hover{
				filter: opacity(100%);
				}	
			}
			//  INFORMACION DEL PRODUCTO DENTRO DE LA TARJETA
			.card-body{
				min-height: 1px;
				padding: 1.5rem;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
					
					// TIULO
					.card-title{
						color: black;
						font-weight: 600;	
					}

					// PARRAFOS
					.card-text{
						color: $colorWhite;
						
					}

					//  BOTON VER MAS
					.btn-primary{
						background-color: #262621;
						color: $colorGreenFluor;
						font-weight: 600;
						display: block;
						border: none;
					}
			}
		}	
}