.banner-shop{    
    color: white;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;

        img{
            width: 100%;
            filter: brightness(0.35);
            height: 100%;
            box-shadow: 1px 6px 20px 1px grey;
            position: fixed;
            overflow: hidden;
            
        }

        .titulo-shop{
        position: relative;
        font-size: 5rem;
        margin: 20rem;
        }
}

.container-shop{
    padding: 5rem 20rem;
    position: relative;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
        
        .arrow{
        display: flex;
        width: 30px;
        border: 2px solid white;
        padding: 0px 4px;
        }

        h4{
        margin-bottom: 4rem;
        margin-top: 6rem;
        }

        p{
        margin: 2rem 0;
        } 
}