/*------------------------------------------------------------ PESTAÑA CONTACTO ------------------------------------------------------------*/	

.banner-contacto{
	width: 100%;
	height: 100%;
	animation: banner 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30rem;
	background-image: url("https://images.pexels.com/photos/4050347/pexels-photo-4050347.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.capa-contacto{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

.info-contacto{
	z-index: 1;
	width: 100%;
	max-width: 550px;
	text-align: center;
		
	h4{
		text-transform: uppercase;
		color: #fff;
		font-size: 45px;
		margin-bottom: 30px;
		letter-spacing: 1px;
		}
	p{
		color: #c7c7c7;
		line-height: 1.7;
		margin-bottom: 30px;
		}
	hr{
		height: 1px;
		width: 80%;
		background-color: #485a54;
		margin: 2.5rem 10rem;
		}
}

.contact-content{
	display: flex;
	align-content: space-evenly;
}

.contentContact__{	
		form{
			display: flex;
			flex-direction: column;
			// background-color: #485a54;
			padding: 0 8rem;
			border-radius: .5rem;
			color: $colorWhite;
			line-height: 3em;
		}
		textarea{
			background-color: $colorWhite;
			color:  $colorGreenFirst;
			min-width: 30rem;
			min-height: 10rem;
			padding: .5rem 1rem;
			line-height: 3em;
			font-size: 13px;
			font-weight: 600;
		}
		input[type="text" i]{
			background-color: $colorWhite;
			color:  $colorGreenFirst;	
			border: 0;
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;
			padding: 1px 0;
		}
		input[type="number" i]{
			padding: 1px 2px;
			background-color: $colorWhite;
			color:  $colorGreenFirst; 
			border: 0;
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;
		}
		input[type="checkbox" i]{
			padding: 1px 2px;
			margin: 1rem;
			display: inline;
			border-radius: 8rem;
			cursor: pointer;
		}
	}

			
// 		.content__modal{	
// 			.btn-primary{	
// 				background-color: $colorWhite;
// 				color: $colorGreenFirst;
// 				padding: .5rem;
// 				font-size: 14px;
// 				font-weight: 600;
// 				cursor: pointer;
// 				width: 100%;
// 				}
// 				.modal-header{
// 					background-color: $colorGreenFirst;
// 					color: $colorWhite;
// 				}
// 				.modal-body{
// 					background-color: $colorWhite;
// 					color: $colorGreenFirst;
// 				}
// 				.modal-footer{
// 					background-color: $colorWhite;

// 					.btn-secondary{
// 					background-color: $colorGreenFirst;
// 					color: $colorWhite;
// 					font-weight: 600;
// 					}		
// 				}	
// 		}						
// }

.maps-contacto{
	display: flex;
	margin: rem;
	align-items: center;
	.maps-container{
		background-color: aqua;
		border-radius: 2rem;
	}
	
}