/*------------------------------------------------------------ PESTAÑA CONTACTO ------------------------------------------------------------*/	

.banner-contacto{
	width: 100%;
	height: 1080px;
	animation: banner 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30rem;
	background-image: url("../galeria/img-contacto.jpg");
}

.capa-contacto{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

.contact-content{
	display: flex;
	flex-direction: column;
	align-items: center;

		@media (max-width:700px){
			display: flex;
			flex-direction: column;
			}
	

.contentContact__{		
	display: flex;

		img{
			object-fit: contain;
		}
		form{
			display: flex;
			flex-direction: column;
			// background-color: #485a54;
			padding: 0 8rem;
			border-radius: .5rem;
			color: $colorWhite;
			line-height: 3em;
			margin-top: 5rem;

				@media (max-width:700px){
					padding: 0;
				}
		}
		textarea{
			background-color: $colorWhite;
			color:  $colorGreenFirst;
			min-width: 30rem;
			min-height: 10rem;
			padding: .5rem 1rem;
			line-height: 3em;
			font-size: 13px;
			font-weight: 600;

			@media (max-width:700px){
				min-width: 22.5rem;
			}
		}
		input[type="text" i]{
			background-color: $colorWhite;
			color:  $colorGreenFirst;	
			border: 0;
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;
			padding: 1px 0;
		}
		input[type="number" i]{
			padding: 1px 2px;
			background-color: $colorWhite;
			color:  $colorGreenFirst; 
			border: 0;
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;
		}
		input[type="checkbox" i]{
			padding: 1px 2px;
			margin: 1rem;
			display: inline;
			border-radius: 8rem;
			cursor: pointer;
		}
	}

			
// 		.content__modal{	
// 			.btn-primary{	
// 				background-color: $colorWhite;
// 				color: $colorGreenFirst;
// 				padding: .5rem;
// 				font-size: 14px;
// 				font-weight: 600;
// 				cursor: pointer;
// 				width: 100%;
// 				}
// 				.modal-header{
// 					background-color: $colorGreenFirst;
// 					color: $colorWhite;
// 				}
// 				.modal-body{
// 					background-color: $colorWhite;
// 					color: $colorGreenFirst;
// 				}
// 				.modal-footer{
// 					background-color: $colorWhite;

// 					.btn-secondary{
// 					background-color: $colorGreenFirst;
// 					color: $colorWhite;
// 					font-weight: 600;
// 					}		
// 				}	
// 		}						
// }

.maps-contacto{
	width: 100%;
	display: flex;
	margin-top: 6rem;

	.block-maps{
		display: flex;
		flex-direction: column;
		padding: 2rem;
		margin: 3rem;

		p{
			display: flex;
			justify-content: center;
			margin: 3rem;
			font-size: 1.3rem;
			color: $colorGreenFirst;
		}
		iframe{
			border-radius: 1rem;
			filter: brightness(50%);
			&:hover{
				filter: brightness(100%);
				transform: scale(1.03);
				transition: .5s;
			}
		}
	}

	
}
}
// 		@media (max-width:700px){
// 			// padding: 15rem;
// 			max-width: 20rem;
// 		}
	
	
// }