/*------------------------------------------------------------ TEXT HOME ------------------------------------------------------------*/	
#container-index{
	display: flex;
	flex-direction: column;	

	.container-slogan{
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 12rem  0;
		text-transform: uppercase;
		color: #d4d9d9;
		font-weight: 600;	
		font-size: 3rem;

		@media (max-width: 700px){
			font-size: 1.8rem;
			line-height: 3rem;
			margin: 4rem 2rem;
		}	
	}
	
	.card-block-forward{
		background-color: #2d2d2d;
		display: flex;
		flex-direction: row;
		margin: 0rem 10rem;
		word-spacing: .30em;	
		align-items: center;
		box-shadow: -5px 15px 14px 0px #171010;
		
		@media (max-width: 700px){
				margin: 0rem;
				padding: 0;
				display: flex;
				flex-direction: column;
				margin: 0 1rem;
				border-radius: 1.5rem;
				box-shadow:-11px 14px 11px 0px #171010;
			}

		.card-content-forward{
			display: flex;
			padding: 3.5rem;
			flex-direction: column;
			
			@media (max-width: 700px){
				margin: 0rem;
				padding: 0;
				display: flex;
				justify-content: center;
			}

			.card-titulo-forward{
				display: flex;
				padding:1rem 1rem 0rem 4rem;
				color: #fff;
				font-weight: 600;
				justify-content: flex-start;
				font-style: italic;
				font-size: 1.8rem;
				
				@media (max-width: 700px){
					display: flex;
					align-items: center;
					padding: 3rem 2rem 0;
					font-size: 1.2rem;	
					}
			}

			.card-parrafos-forward{	
				display: flex;
				color: #7f9244;
				align-items: center;
				font-weight: 500;
				line-height: 1.8rem;
				padding: 3rem 6rem 0rem 4rem;
				
				@media (max-width:700px){
					font-size: .85rem;
					padding: 2rem 2rem .5rem;
					}
			}
		}

		.card-img-forward{
			width: 25%;
			display: flex;
			flex-direction: row;
			justify-content: end;
			
			@media (max-width: 700px){
				width: 80%;
				border-radius: 1rem;
				margin: 2rem;
			}
		}	
	}		

	.card-block-reverse{
		background-color: #CFCFCF;
		display: flex;
		flex-direction: row-reverse;
		margin: 8rem 10rem;
		word-spacing: .30em;	
		align-items: center;	
		word-spacing: 0.25rem;
		box-shadow: -5px 15px 14px 0px #171010;;
		
		@media (max-width: 700px){
			padding: 0;
			display: flex;
			flex-direction: column;
			margin: 4rem 1rem;	
			border-radius: 1.5rem;
			box-shadow:-11px 14px 11px 0px #171010;
		}

		.card-content-reverse{
			display: flex;
			padding: 3.5rem;
			flex-direction: column;
		
			@media (max-width: 700px){
				margin: 0rem;
				padding: 0;
				display: flex;
				justify-content: center;
			}
			

			.card-titulo-reverse{
				display: flex;
				padding: 0 2rem;
				color: #2d2d2d;
				font-weight: 600;
				justify-content: flex-start;
				font-size: 1.8rem;
				font-style: italic;

				@media (max-width: 700px){
					display: flex;
					font-size: 1.2rem;
					align-items: center;
					padding: 3rem 2rem 0;
				}
			}

			.card-parrafos-reverse{	
				display: flex;
				color: #7f9244;
				align-items: center;
				font-weight: 500;
				line-height: 1.8rem;
				padding: 3rem 6rem 0rem 2rem;
				
				@media (max-width:700px){
					font-size: .8rem;
					font-size: .85rem;
					padding: 2rem 2rem .5rem;
					}
				}
		}

		.card-img-reverse{
			width: 25%;
			display: flex;
			flex-direction: row;
			justify-content: end;
			
			@media (max-width: 700px){
				width: 80%;
				border-radius: 1rem;
				margin: 2rem;
			}
		}	
	}

	.line-index{
		background-color: #CFCFCF;
		margin: auto;
		padding: .05rem;
	}
}