/*------------------------------------------------------------ TEXT HOME ------------------------------------------------------------*/	

@import "../import/body";

#container-index{
	display: flex;
	flex-direction: column;	
	
	.container-slogan{
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 12rem  15rem;
		text-transform: uppercase;
		color: $colorWhite;
		font-weight: 600;	
		font-size: 3rem;
		border-bottom: 1.5px solid $colorWhite;
		line-height: 5rem;

		@media (max-width: $tablet){
			font-size: 1.5rem;
			line-height: 3rem;
			margin: 4rem 1rem;
		}	
	}
	
	.card-block-forward{
		background-color: $colorGreenCake;
		display: flex;
		flex-direction: row;
		margin: 0rem 10rem;
		word-spacing: .30em;	
		align-items: center;
		@include shadow-banner ();
		
		@media (max-width: $tablet){
				margin: 0rem;
				padding: 0;
				display: flex;
				flex-direction: column;
				margin: 0 1rem;
				border-radius: 1.5rem;
				@include shadow-card ();
			}

		.card-content-forward{
			display: flex;
			padding: 3.5rem;
			flex-direction: column;
			
			@media (max-width: $tablet){
				margin: 0rem;
				padding: 0;
				display: flex;
				justify-content: center;
			}

			.card-titulo-forward{
				display: flex;
				padding:1rem 1rem 0rem 4rem;
				color: $colorWhite;
				font-weight: 600;
				justify-content: flex-start;
				font-style: italic;
				font-size: 1.8rem;
				
				@media (max-width: $tablet){
					display: flex;
					align-items: center;
					padding: 3rem 2rem 0;
					font-size: 1.2rem;	
					}
			}

			.card-parrafos-forward{	
				display: flex;
				color: $colorGreenFirst;
				align-items: center;
				font-weight: 500;
				line-height: 1.8rem;
				padding: 3rem 6rem 0rem 4rem;
				
				@media (max-width: $tablet){
					font-size: .85rem;
					padding: 2rem 2rem .5rem;
					}
			}
		}

		.card-img-forward{
			width: 25%;
			display: flex;
			flex-direction: row;
			justify-content: end;
			
			@media (max-width: $phone){
				width: 80%;
				border-radius: 1rem;
				margin: 2rem;
			}

				@media (min-width: $phone) and (max-width: $laptop){
					width: 30%;
					border-radius: 1rem;
					margin: 1rem;
				}
			
		}	
	}		

	.card-block-reverse{
		background-color: $colorWhite;
		display: flex;
		flex-direction: row-reverse;
		margin: 8rem 10rem;
		word-spacing: .30em;	
		align-items: center;	
		word-spacing: 0.25rem;
		@include shadow-banner ();
		
		@media (max-width: $tablet){
			padding: 0;
			display: flex;
			flex-direction: column;
			margin: 4rem 1rem;	
			border-radius: 1.5rem;
			@include shadow-card ();
		}

		.card-content-reverse{
			display: flex;
			padding: 3.5rem;
			flex-direction: column;
		
			@media (max-width: $tablet){
				margin: 0rem;
				padding: 0;
				display: flex;
				justify-content: center;
			}
			

			.card-titulo-reverse{
				display: flex;
				padding: 0 2rem;
				color: $colorGreenCake;
				font-weight: 600;
				justify-content: flex-start;
				font-size: 1.8rem;
				font-style: italic;

				@media (max-width: $tablet){
					display: flex;
					font-size: 1.2rem;
					align-items: center;
					padding: 3rem 2rem 0;
				}
			}

			.card-parrafos-reverse{	
				display: flex;
				color: $colorGreenFirst;
				align-items: center;
				font-weight: 500;
				line-height: 1.8rem;
				padding: 3rem 6rem 0rem 2rem;
				
				@media (max-width: $tablet){
					font-size: .8rem;
					font-size: .85rem;
					padding: 2rem 2rem .5rem;
					}
				}
		}

		.card-img-reverse{
			width: 25%;
			display: flex;
			flex-direction: row;
			justify-content: end;
			
			@media (max-width: $tablet){
				width: 80%;
				border-radius: 1rem;
				margin: 2rem;
			}
			
			@media (min-width: $phone) and (max-width: $laptop){
				width: 30%;
				border-radius: 1rem;
				margin: 1rem;
			}
		}	
	}

	.line-index{
		background-color: $colorWhite;
		margin: auto;
		padding: .05rem;
	}
}