/*------------------------------------------------------------ PESTAÑA INFORMACION ------------------------------------------------------------*/	

// BANNER>> HERO IMAGEN Y CAPA BACKGROUND (EL TEXTO ESTA EN _THEMES.SCSS) 
.banner-info{
	width: 100%;
	height: auto;
	animation: banner 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20rem;
	margin-bottom: 10rem;
	background-image: url("../galeria/img-info.jpg");
	@include shadow-banner ();
	
	@media (max-width: $tablet){
		background-image: url("../galeria/img-info-mobile.jpg");
		padding: 0;
		margin-bottom: 1.5rem;
	}

	@media (min-width: $phone) and (max-width: $tablet){
		background-image: url("../galeria/img-info.jpg");
		padding: 7rem;
	}

	@media (min-width: $laptop) and (max-width: $laptop-L){
		padding: 15rem;
	}	

}

// CAPA SOBRE LA IMAGEN>>
.capa-info{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.9) 100%);
}

// SECCION PRINCIPAL CON TODAS LAS TARJETAS
.container-info{
	display: flex;
	flex-direction: column;
	margin: 10rem 0;

	@media (max-width: $tablet){
		margin: 6rem 0;
	}

	// TARJETA CON TEXTO E IMAGEN 1 Y 3
	.card-block-forward{
		background-color: #2d2d2d;
		display: flex;
		flex-direction: row;
		margin: 8rem 10rem;
		word-spacing: .30em;	
		align-items: center;	
		@include shadow-card(); 

		@media(max-width: $laptop){
			display: flex;
			flex-direction: column;
			border-radius: 1.5rem;
			margin: 4rem 1rem;	
			@include shadow-mob(); 
			}

		@media (min-width: $laptop-L) and (max-width: $desktop){
			align-items: stretch;
		}

		// BLOQUE INFO
		.card-content-forward{
			display: flex;
			padding: 3.5rem;
			flex-direction: column;
			

			@media (max-width:  $tablet){
					padding: 0;
				}

			// TITULO
			.card-titulo-forward{
				display: flex;
				padding:1rem 1rem 0rem 4rem;
				color: #fff;
				font-weight: 600;
				justify-content: flex-start;
				font-style: italic;
				font-size: $titles;

				@media(max-width: $tablet){
					@include title-mob();
				}
			
				@media (min-width: $desktop){
					font-size: $desktop-title;
				}

				@media(min-width: $tablet) and (max-width: $laptop-L){
					@include title-mob();
				}
			}

			// PARRAFO
			.card-parrafos-forward{	
				display: flex;
				color: #7f9244;
				align-items: center;
				font-weight: 500;
				line-height: 1.8rem;
				padding: 2rem 4rem;
				flex-direction: column;
				align-items: flex-start;

				@media (max-width: $tablet){
					display: flex;
					flex-direction: column;	
				}

				@media (min-width: $desktop){
					font-size: $desktop-parrafos;
				}
				

				a{
					margin: 2rem 0 0 0;
					padding: .5rem;
					border-radius: .4rem;
					background-color: $colorWhite;
					color: $colorDark;
					box-shadow: 0px 1px 7px 0px #171010;
					text-decoration: none;
					font-weight: 600;

					@media (max-width: $tablet){
					margin: 2rem 0 0 0;
					padding: .5rem;
					font-size: .8rem;
					}
				}
			}
	}
		// IMAGEN
		.card-img-forward_info{
			width: 50%;
			display: flex;
			flex-direction: row;
			justify-content: end;
			
			@media (max-width: $laptop){
				width: 50%;
				border-radius: 2rem;
				margin: 1rem;
			}

			@media (max-width:$phone){
				width: 80%;
			}

			@media (min-width: $desktop){
				font-size: $desktop-parrafos;
				width: 40%;
			}	
		}	
	}		

	// TARJETA CON TEXTO E IMAGEN 2
	.card-block-reverse{
		background-color: #CFCFCF;
		display: flex;
		flex-direction: row-reverse;
		margin: 0 10rem;
		word-spacing: .30em;	
		align-items: center;	
		word-spacing: 0.25rem;
		@include shadow-card(); 
		
		@media(max-width: $laptop){
			display: flex;
			flex-direction: column;
			border-radius: 1.5rem;
			margin: 4rem 1rem;	
			@include shadow-mob(); 
			}	

				@media (min-width: $laptop) and (max-width: $desktop){
					align-items: stretch;
				}

		// BLOQUE INFO
		.card-content-reverse{
			display: flex;
			padding: 3.5rem;
			flex-direction: column;

				@media (max-width:  $tablet){
					padding: 0;
				}

			// TITULO
			.card-titulo-reverse{
				display: flex;
				padding:1rem 1rem 0rem 4rem;
				color: #2d2d2d;
				font-weight: 600;
				justify-content: flex-start;
				font-style: italic;
				font-size: $titles;

				@media(max-width: $tablet){
					@include title-mob();
				}
			
				@media (min-width: $desktop){
					font-size: $desktop-title;
				}

				@media(min-width: $tablet) and (max-width: $laptop-L){
					@include title-mob();
				}
			}

			// PARRAFO
			.card-parrafos-reverse{	
				display: flex;
				color: #7f9244;
				align-items: center;
				font-weight: 500;
				line-height: 1.8rem;
				padding: 2rem 4rem;
				}

				@media (min-width: $desktop){
					font-size: $desktop-parrafos;
				}

				@media (min-width: $desktop){
					font-size: $desktop-parrafos;
				}
		}

		// IMAGEN
		.card-img-reverse_info{
			width: 50%;
			display: flex;
			flex-direction: row;
			justify-content: end;

			@media (max-width: $laptop){
				width: 50%;
				border-radius: 2rem;
				display: flex;
				margin: 1rem;
			}

			@media (max-width:$phone){
				width: 80%;
			}	

			@media (min-width: $desktop){
				font-size: $desktop-parrafos;
				width: 40%;
			}
		}
				
}

	.line-index{
		background-color: #CFCFCF;
		margin: auto;
		padding: .05rem;
	}
}