/*------------------------------------------------------------ PESTAÑA INFORMACION ------------------------------------------------------------*/	

.banner-info{
	width: 100%;
	height: 100%;
	animation: banner 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30rem;
	margin-bottom: 10rem;
	background-image: url("../galeria/img-informacion.jpg");

		@media (max-width:700px){
			background-image: url("../galeria/img-informacion-mobile.jpg");
			padding: 0;
			margin-bottom: 2rem;
		}
}

.capa-info{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.9) 100%);
}

#container-info{
	display: flex;
	flex-direction: column;
	margin: 10rem 0;

	@media (max-width: 700px){
		margin: 6rem 0;
	}

	.card-block-forward{
		background-color: #2d2d2d;
		display: flex;
		flex-direction: row;
		margin: 8rem 10rem;
		word-spacing: .30em;	
		align-items: center;	
		@include shadow-card(); 

		@media(max-width:700px){
			display: flex;
			flex-direction: column;
			border-radius: 1.5rem;
			margin: 4rem 1rem;	
			@include shadow-mob(); 
			}

		.card-content-forward{
			display: flex;
			padding: 3.5rem;
			flex-direction: column;

				@media (max-width: 700px){
					padding: 0;
				}

			.card-titulo-forward{
				display: flex;
				padding:1rem 1rem 0rem 4rem;
				color: #fff;
				font-weight: 600;
				justify-content: flex-start;
				font-style: italic;

				@media(max-width:700px){
					@include title-mob();
				}
			}

			.card-parrafos-forward{	
				display: flex;
				color: #7f9244;
				align-items: center;
				font-weight: 500;
				line-height: 1.8rem;
				padding: 2rem 4rem;
				flex-direction: column;
				align-items: flex-start;

				@media (max-width: 700px){
					display: flex;
					flex-direction: column;	
				}

				a{
					margin: 2rem 0 0 0;
					padding: .5rem;
					border-radius: .4rem;
					background-color: $colorWhite;
					color: $colorDark;
					box-shadow: 0px 1px 7px 0px #171010;
					text-decoration: none;
					font-weight: 600;

					@media (max-width: 700px){
					margin: 2rem 0 0 0;
					padding: .5rem;
					font-size: .8rem;
				}
			}

			}
		}

		.card-img-forward_info{
			width: 50%;
			display: flex;
			flex-direction: row;
			justify-content: end;
			
			@media (max-width: 700px){
				width: 80%;
				border-radius: 2rem;
				display: flex;
				margin: 1rem;
			}
		}	
	}		

	.card-block-reverse{
		background-color: #CFCFCF;
		display: flex;
		flex-direction: row-reverse;
		margin: 0 10rem;
		word-spacing: .30em;	
		align-items: center;	
		word-spacing: 0.25rem;
		@include shadow-card(); 
		
			@media(max-width:700px){
				display: flex;
				flex-direction: column;
				margin: 0 1rem;
				border-radius: 1.5rem;
				@include shadow-mob(); 
				}

		.card-content-reverse{
			display: flex;
			padding: 3.5rem;
			flex-direction: column;

				@media (max-width: 700px){
					padding: 0;
				}

			.card-titulo-reverse{
				display: flex;
				padding:1rem 1rem 0rem 4rem;
				color: #2d2d2d;
				font-weight: 600;
				justify-content: flex-start;
				font-style: italic;

				@media(max-width:700px){
					@include title-mob();
				}
			}

			.card-parrafos-reverse{	
				display: flex;
				color: #7f9244;
				align-items: center;
				font-weight: 500;
				line-height: 1.8rem;
				padding: 2rem 4rem;
				}
		}

		.card-img-reverse_info{
			width: 50%;
			display: flex;
			flex-direction: row;
			justify-content: end;

			@media (max-width: 700px){
				width: 80%;
				border-radius: 2rem;
				display: flex;
				margin: 1rem;
				}
			}
				
	}

	.line-index{
		background-color: #CFCFCF;
		margin: auto;
		padding: .05rem;
	}
}