/*------------------------------------------------------------ PESTAÑA NOSOTROS ------------------------------------------------------------*/	

.banner-nosotros{
	width: 100%;
	height: 100%;
	animation: banner 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30rem;
	margin-bottom: 10rem;
	background-image: url("../galeria/img-nosotros.jpg");

		@media (max-width:700px){
			background-image: url("../galeria/img-nosotros-mobile.jpg");
			padding: 0;
			margin-bottom: 2rem;
		}
}

.capa-nosotros{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.9) 100%);
}

.boxNosotros__{

	.section-nosotros-foward{
		display: flex;

			@media (max-width: 700px){
				display: flex;
				flex-direction: column;
				align-items: center;
				flex-direction: column-reverse;
			}
					
		.content-nosotros-section{
			padding: 0 0 0 10rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

				@media(max-width:700px){
					padding: 0;
				}

	.boxNosotros__titulos-foward{
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		color: $colorGreenFluor;
		font-size: 30px;
		word-spacing: .25em;
		justify-content: center;
		font-weight: 600;	
		align-items: center;
		
		@media  (max-width: 700px){
			font-size: 1.2rem;
			padding: 4rem 2rem 0
			}	
		}

	.boxNosotros__info-foward{
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		color: $colorWhite;
		text-align: flex-start;
		padding: 5rem 10rem 0 10rem;
		line-height: 3.5em;
		word-spacing: .25em;
		font-weight: 500;
		padding: 5rem 12rem 0rem 0rem;
		
		@media (max-width: 700px){
			display: flex;
			margin: 0;
			padding: 2rem;
			font-size: 0.8rem;
			}
		}
	}

		img{
			object-fit: contain;
			padding: 0 0 0 12rem;

				@media(max-width:700px){
					padding: 0;
					transform: scale(0.7);
				}
		}
	}

	.section-nosotros-reverse{
		display: flex;
		flex-direction: row-reverse;

		@media (max-width: 700px){
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-direction: column-reverse;
		}

		.content-nosotros-section{
			padding: 0 0 0 10rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@media(max-width:700px){
				padding: 0;
			}
			

		.boxNosotros__titulos-reverse{
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			color: $colorGreenFluor;
			font-size: 2rem;
			word-spacing: .25em;
			font-weight: 600;	
			
			@media  (max-width: 700px){
				font-size: 1.2rem;
				padding: 4rem 2rem 0
			}	
		}
		.boxNosotros__info-reverse{
			display: flex;
			flex-direction: row-reverse;
			flex-wrap: wrap;
			color: $colorWhite;
			text-align: flex-start;
			padding: 5rem 10rem 0 0rem;
			line-height: 3.5em;
			word-spacing: .25em;
			font-weight: 500;
			
			@media (max-width: 700px){
				display: flex;
				margin: 0;
				padding: 2rem;
				font-size: 0.8rem;
				}
			}
		}
			img{
				object-fit: contain;
				padding: 0 12rem 0 0;

				@media(max-width:700px){
					padding: 0;
					transform: scale(0.7);
				}
			}
		
	}
		.line-nosotros{
			border: 1px solid $colorGreenFluor;
			margin: 3rem 10rem 12rem 10rem;

				@media (max-width:700px){
					margin: 0 2rem;
				}
			}
}