.banner-preguntas{    
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    overflow: hidden;

        img{
            width: 100%;
            filter: brightness(0.35);
            height: 100%;
            box-shadow: 1px 6px 20px 1px grey;
            position: fixed;
            overflow: hidden;
            
        }

        .titulo-preguntas{
        position: relative;
        font-size: 5rem;
        margin: 20rem 40rem 15rem 40rem;
    
        
        }
}

.container-preguntas{
    padding: 5rem 20rem;
    position: relative;
    margin-bottom: 10rem;

        .box-question{
            padding: .8rem 0;

                p{
                    padding: .5rem 0rem ;
                }
        }
    
}

    
    
