/*------------------------------------------------------------ PESTAÑA PRODUCTOS ------------------------------------------------------------*/	


.containerProductos__{
	display: flex;
	justify-content: center;
	.buttonContainer__{
		display: flex;
		justify-content: space-evenly;
		margin: 2rem 0 0 0 ;
		background-color: #485a54;
		border-radius: .5rem;
			.btn{	
				color: #d9d3cc;
				display: flex;
				font-weight: 600;
			}
	}
}	

.contentCards__{
	max-width: 1500px;
	margin: auto;
	margin-top: 100px;
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
		.card{	
			margin: 50px 80px;
			padding: 6px;
			background-color: #485a54;		
			color: #d9d3cc;
			box-shadow: 2px 2px 10px .5px #656868;
			&:hover{
				backdrop-filter: blur(5px);
				transform: scale(1.05);
				transition: .5s;
				cursor: pointer;
			}
			img{
				border-radius: .5rem;
				filter: opacity(75%);
			&:hover{
				filter: opacity(100%);
				}	
			}
			.card-body{
				.btn-primary{
					background-color: #d9d3cc;
					color: #485a54;
					font-weight: 600;
					}
			}	}			
}
			
  
	