
// /*----------------------------------------------------- INTRODUCCION SECCION ------------------------------------------------------*/	

.contact__{
    display: block;	
	@media(max-width: 750px){
		display: flex;
		flex-direction: column;
		justify-items: center;
	}


		.contact__Titulo{
			display: flex;
			justify-content: center;
			line-height: 1rem;
			font-size: 1.5rem;
			font-weight: 600;
			padding: 2rem 0;
			letter-spacing: 2px; 
			text-transform: uppercase;
			padding: 5rem;
            margin-bottom: 8rem;
			color: $colorDark;
			background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  
			background: linear-gradient(to right, #0f3443, #34e89e); 
			@media (max-width: 700px){
				padding: 2.5rem;
				margin: 0 0 5rem 0;
				line-height: 2rem;
			}
		}

		.contact__Parrafos{
			display: flex;
			justify-content: center;
			color: $colorWhite;
			@media (max-width: 700px){
				padding: .5rem 2.5rem;
				display: flex;
				line-height: 2rem;
			}
		}
		.contact__lineNosotrosContact{
			margin: 5rem 20rem;
			border: 1px solid $colorGreenFluor;
			@media (max-width: 700px){
			margin: 0rem 2.5rem;
			}
		}		
}	