
// /*----------------------------------------------------- INTRODUCCION SECCION ------------------------------------------------------*/	

.contact__{
    display: block;	

		.contact__Titulo{
			display: flex;
			justify-content: center;
			line-height: 1rem;
			font-size: 1.5rem;
			font-weight: 600;
			padding: 2rem 0;
			letter-spacing: 2px; 
			text-transform: uppercase;
			padding: 5rem;
            margin-bottom: 8rem;
			color: $colorDark;
			background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  
			background: linear-gradient(to right, #0f3443, #34e89e); 

		}
		.contact__Parrafos{
			display: flex;
			justify-content: center;
			margin-top: 3rem;
			color: $colorWhite;
		}
		.contact__lineNosotrosContact{
			margin: 5rem 20rem;
			border: 1px solid $colorGreenFluor;
	
		}
			
}