/*----------------------------------------------------- BANNER TITULO Y PARRAFOS ------------------------------------------------------*/		
	.info-general{
		z-index: 1;
		width: 100%;
		text-align: center;
		object-fit: none;
			
		.title-general{
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			color: $colorWhite;
			font-size: 4rem;
			letter-spacing: .35rem;

				@media(max-width:700px){
					font-size: 2rem;
					margin: 1rem;
				}
			&:before,
			&:after {
				color: $colorGreenFluor;
				content: "";
				transform: scale(0);
				transition: 0.5s;
				display: flex;
			}
	
			&:before {
				border-bottom: 3px solid $colorGreenFluor;
				border-left: 3px solid $colorGreenFluor;
				transform-origin: 0 100%;
	
			}
			&:after {
				border-top: 3px solid $colorGreenFluor;
				border-right: 3px solid $colorGreenFluor;
				transform-origin: 100% 0%;
	
			}
			&:hover:after,
			&:hover:before {
				transform: scale(1);
			}
			
			&:hover{
				color: $colorGreenFluor;
				transition: .7s;
			}	
		}
		p{
			color: $colorWhite;
			line-height: 1.7rem;
			padding: 2rem 5rem;

				@media(max-width:700px){
					font-size: .8rem;
				}
			}
		}



// /*----------------------------------------------------- INTRODUCCION SECCIONES ------------------------------------------------------*/	

.contact__{
    display: block;	

	@media(max-width: $tablet){
		display: flex;
		flex-direction: column;
		justify-items: center;
	}


		.contact__Titulo{
			display: flex;
			justify-content: center;
			line-height: 1rem;
			font-size: 1.5rem;
			font-weight: 600;
			padding: 2rem 0;
			letter-spacing: 2px; 
			text-transform: uppercase;
			padding: 5rem;
            margin-bottom: 8rem;
			color: $colorDark;
			background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  
			background: linear-gradient(to right, #0f3443, #34e89e); 
			
			@media (max-width: $tablet){
				padding: 2.5rem;
				margin: 0 0 5rem 0;
				line-height: 2rem;
			}
		}

		.contact__Parrafos{
			display: flex;
			justify-content: center;
			color: $colorWhite;

			@media (max-width: $tablet){
				padding: .5rem 2.5rem;
				display: flex;
				line-height: 2rem;
			}
		}
		.contact__lineNosotrosContact{
			margin: 5rem 20rem;
			border: 1px solid $colorGreenFluor;
			
			@media (max-width: $tablet){
			margin: 0rem 2.5rem;
			}
		}		
}	

// /*----------------------------------------------------- BOTON SCROLL ------------------------------------------------------*/	
.scroll-button{
	padding-top: 60px;
	
	.scroll-button span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
	}
}